<app-dashboard></app-dashboard>
<div style="align-items: center; margin-left: 20%; ">
    
    <div class="card" style=" width: 500px; height: 250px; float:left;">
        <h5><b>Monthly Sales</b></h5>
        <p></p>
        <img src="..\assets\sale.PNG" 
        alt="Avatar" 
        style="height:300px; width: 400px; margin-left: 20px;">
        <div class="container">
          
        </div>
      </div>
    <div class="card" style=" width: 500px; height: 250px; float:right; margin-right: 20px ">
        <h5><b>Support Request</b></h5>
        <p></p>
        <img src="https://cdn.pixabay.com/photo/2013/07/12/18/52/pie-chart-153903_960_720.png" 
        alt="Avatar" 
        style="height:150px; width: 350px; margin-left: 20px;">
        <div class="container">
         
        </div>
      </div>
    </div>